{% extends "D:/CLASES PYTHON/Proyecto Final/ProyectoFinal/AppFinal/templates/AppFinal/padre.html" %}
{% load static %}
{% block Hero %} 
    
    <div class="masthead-heading text-uppercase"> Acerca de mi</div>
    <div class="masthead-subheading">Me llamo Adrian Tamez y soy estudiante de la plataforma de CODER HOUSE, soy Mexicano y tengo 23 años de EDAD. 
        La programacion se me hace una profesion muy interesante es por eso que a pesar de no tener en absoluta relacion con esta, he decidido
    tomar las clases de CODER HOUSE, las cuales son de excelente utilidad.</div>
{% endblock %}