<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for Cine in movies %}

    <p>Cine: {{Cine.nombre}}</p>
    <p>Ubicacion: {{Cine.ubicacion}}</p>

    <button>
        <a href="{% url 'eliminarCines' Cine.nombre %}"> Eliminar Cine </a>
       
    </button>

    <button>
       
        <a href="{% url 'editarCines' Cine.nombre %}"> Editar Cine </a>
    </button>
<br>
    ----------------------------------


    {% endfor %}
<br>
    <button>
       
        <a href="{% url 'crearCines'%}">Crear Cine </a>
    </button>


</body>
</html>